.dailyForecastContainer {
  grid-column: 1 / 1 ;
}

.dailyForecastContainer > h2 {
  font-size: 1rem;
  margin-bottom: 15px;
}

.dailyForecast, .dailyForecastLoading {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.dailyForecastLoading > .dayForecast {
  height: 137px;
}

.dayForecast {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
  background-color: var(--neutral-800);
  border: 1px solid var(--neutral-600);
}

.dayMaxMinTemp {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
}

.dayMaxMinTemp > p:last-child {
  color: var(--neutral-200);
}

@media (max-width: 840px) { 
  .dailyForecast, .dailyForecastLoading {
    justify-content: start;
  }
  .dayForecast {
    flex-grow: 0;
  }
}