.hourlyForecastContainer {
  grid-row: 1/-1;
  overflow: scroll;
  position: relative;

  background-color: var(--neutral-800);
  padding: 0px 20px 30px 20px;
  border-radius: 20px;
  border: 1px solid var(--neutral-600);
}

.forecastHeader {
  padding: 25px 0 10px;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--neutral-800);
}

.forecastHeader > h2 {
  font-size: 1rem;
}

.forecastDropdownWrapper {
  position: relative;
}

.forecastDropdownWrapper > button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 12px;
  cursor: pointer;
  background-color: var(--neutral-600);
  border: none;
  border-radius: 5px;
  color: var(--neutral-200);
}

.dropdown {
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 40px;
  right: 0px;

  color: white;
  background-color: var(--neutral-800);
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
  width: 200px;
  border: 1px solid var(--neutral-600);
  margin: 10px 0;
}

.dropdown > button {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 1rem;
  background-color: var(--neutral-800);
  border-radius: 5px;
  color: var(--neutral-200);
  border: 1px solid transparent;

}

.dropdown > button:hover {
  background-color: var(--neutral-700);
  border: 1px solid var(--neutral-600);
}

.dropdown.active {
  opacity: 1;
  pointer-events: initial;
}

.forecast, .forecastLoading {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--neutral-700);
  border: 1px solid var(--neutral-600);
  padding: 10px;
  border-radius: 10px;
}

.forecast + .forecast, .forecastLoading + .forecastLoading {
  margin-top: 10px;
}

.forecastLoading {
  height: 52px;
}

.forecast > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forecast img {
  width: 30px;
}