.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 50px;
}

.errorContainer > svg {
  width: 40px;
  height: 40px;
}

.errorTitle {
  font-family: var(--typography-2);
}

.errorMessage {
  max-width: 430px;
  text-align: center;
  color: var(--neutral-200);
}

.errorRetryButton {
  background-color: var(--neutral-700);
  color: var(--neutral-200);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.errorRetryButton > svg > path {
  height: 16px;
  width: 16px;
  fill: var(--neutral-200);
}
