.searchContainer {
  margin-bottom: 40px;
}

.title {
  justify-self: center;
  padding: 40px;
  font-size: 3rem;
  font-family: var(--typography-2);
  color: var(--neutral-0);
  text-align: center;
}

.searchForm {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.searchBarWrapper {
  flex-basis: 450px;
  position: relative;
}

.searchBar {
  width: 100%;
  padding: 10px 30px 10px 50px;
  color: var(--neutral-300);
  font-weight: 600;
  font-size: 1.125rem;
  border-radius: 10px;
  border: none;
  background-color: var(--neutral-800);
}

.searchBarWrapper {
  position: relative;
}

.searchBarWrapper::before {
  position: absolute;
  z-index: 99;
  top: 50%;
  transform: translateY(-45%);
  left: 15px;
  content: url("../assets/images/icon-search.svg");
}

.searchButton {
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  justify-self: left;
  border-radius: 10px;
  font-weight: 500;
  background-color: var(--blue-500);
  color: var(--neutral-200);
  cursor: pointer;
}

.searchResult,
.searchResultLoading {
  margin-top: 10px;
  position: absolute;
  background-color: var(--neutral-800);
  width: 100%;
  padding: 5px;
  color: var(--neutral-300);
  font-weight: 600;
  font-size: 1.125rem;
  border-radius: 10px;
}

.searchResult > button,
.searchResult > p {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 1rem;
  background-color: var(--neutral-800);
  border: none;
  border-radius: 5px;
  color: var(--neutral-200);
  border: 1px solid transparent;
}

.searchResult > button ~ button {
  margin-top: 3px;
}

.searchResult > button:hover {
  background-color: var(--neutral-700);
  border: 1px solid var(--neutral-600);
}

.searchResultLoading {
  padding: 10px 30px 10px 50px;
}

.searchResultLoading::before {
  content: url("../assets/images/icon-loading.svg");
  height: 16px;
  width: 16px;
  top: 50%;
  z-index: 99;
  left: 15px;
  transform: translate(0, -50%);
  position: absolute;
}

@media (max-width: 620px) {
  .searchForm {
    gap: 10px;
  }
  .searchBarWrapper {
    flex-grow: 1;
  }
  .searchButton {
    flex-grow: 1;
  }
}
