.searchContainer {
  display: grid;
  grid-template-columns: 13fr 7fr;
  gap: 20px;
}

.title {
  grid-row: 1;
  grid-column: 1/3;
  justify-self: center;
  padding: 40px;
  font-size: 3rem;
  font-family: var(--typography-2);
  color: var(--neutral-0);
}

.searchField {
  grid-row: 2;
  grid-column: 1;
  width: 500px;
  justify-self: right;
  padding: 10px 30px 10px 50px;
  color: var(--neutral-200);
  font-weight: 600;
  font-size: 1.125rem;
  border-radius: 10px;
  border: none;
  background-color: var(--neutral-600);
  background-image: url('../assets/images/icon-search.svg');
  background-repeat: no-repeat;
  background-position: 15px center;
  position: relative;
}


.searchButton {
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  justify-self: left;
  border-radius: 10px;
  font-weight: 500;
  background-color: var(--blue-500);
  color: var(--neutral-200);
}