.searchContainer {
  display: grid;
  grid-template-columns: 13fr 7fr;
  gap: 20px;
}

.title {
  grid-row: 1;
  grid-column: 1/3;
  justify-self: center;
  padding: 40px;
  font-size: 3rem;
  font-family: var(--typography-1);
  color: var(--neutral-0);
}

.searchFieldWrapper {
  grid-row: 2;
  grid-column: 1;
  justify-self: right;
}

.searchField {
  width: 500px;
  padding: 10px 30px 10px 50px;
  color: var(--neutral-300);
  font-weight: 600;
  font-size: 1.125rem;
  border-radius: 10px;
  border: none;
  background-color: var(--neutral-800);
  position: relative;
}

.searchFieldLabel {
  position: relative;
}

.searchFieldLabel::before {
  position: absolute;
  z-index: 99;
  top: 0%;
  left: 15px;
  content: url('../assets/images/icon-search.svg');
}

.searchResult, .searchResultLoading {
  margin-top: 10px;
  position: absolute;
  background-color: var(--neutral-800);
  width: 500px;
  padding: 5px;
  color: var(--neutral-300);
  font-weight: 600;
  font-size: 1.125rem;
  border-radius: 10px;
}

.searchResult > button {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 1rem;
  background-color: var(--neutral-800);
  border: none;
  border-radius: 5px;
  color: var(--neutral-200);
  border: 1px solid transparent;
}

.searchResult > button ~  button {
  margin-top: 3px;
}

.searchResult > button:hover {
  background-color: var(--neutral-700);
  border: 1px solid var(--neutral-600);
}

.searchResultLoading {
  padding: 10px 30px 10px 50px;
}

.searchResultLoading::before {
  content: url('../assets/images/icon-loading.svg');
  height: 16px;
  width: 16px;
  top: 50%;
  z-index: 99;
  left: 15px;
  transform: translate(0, -50%);
  position: absolute;
}


.searchButton {
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  justify-self: left;
  border-radius: 10px;
  font-weight: 500;
  background-color: var(--blue-500);
  color: var(--neutral-200);
}
